* {
    margin: 0%;
    padding: 0%;
}

/* Navbar */


.nav-item a {
    transition: 1s;
}

.nav-item a:hover {
    transform: scale(1.3);
}

#nav-btn {
    transition: 1s;
}

#nav-btn:hover {
    transform: scale(1.2);
}

/* Section 1 */

.s1-card {
    transition: 1s;
}

.s1-card:hover {
    transform: scale(1.1);
}

/* Section 2 */

.card {
    transition: 1s;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 5px grey;
}